body{ font-family: Arial, sans-serif; }

.overflow-hidden{	overflow: hidden; }

button, button::before{
	cursor: pointer;
	outline: none;
}

.disp-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.disp-flex-col{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 80px;
}

.acai-text{	font-size: 30px; }

.container{
	width: 98vw;
	margin: auto;	
}

.container-produtos{
	display: flex;
	justify-content: space-between;
	align-items: baseline;	
	height: 80px;
	margin-bottom: 5px;
	border: solid 1px #7A297A;
	border-radius: 4px;	
	padding: 5px;
	width: 100%;
	max-width: 420px;
	transition: margin-top .5s ease;
}

.adicionar, .remover{
	border: solid 3px;
	width: 50px;
	height: 50px;	
	background-color: transparent;
	border-radius: 50%;
	border-color: #7A297A;	
	padding-top: 2px;
	transition: background-color .3s ease;
}

.adicionar:active, .adicionar:hover, .remover:active, .remover:hover { background-color: #7A297A; }

.adicionar:before{
	content: '\e80c';
	font-family: 'fontello';
	font-size: 24px;
	color: #7A297A;	
}

.remover:before{
	content: '\e80d';
	font-family: 'fontello';
	font-size: 24px;
	color: #7A297A;
}

.reload{
	width: 100%;
	height: 50px;
	border: solid 3px #7A297A;
	border-radius: 4px;
	background-color: transparent;
	transition: background-color .3s ease;
}

.reload:hover, .reload:active{
	background-color: #7A297A;	
}

.reload:before{
	content: '\e801';
	font-family: 'fontello';
	font-size: 24px;
	color: #7A297A;	
}

.adicionar:hover::before, .adicionar:active::before, .remover:hover::before, .remover:active::before, .reload:hover::before, .reload:active::before{
	color: #FFFFFF;
	transition: color .3s ease;	
}

.margin-right{ margin-right: 20px; }

.margin-top-30px{	margin-top: 30px; }

.total{
	font-size: 30px;
	margin-right: 10px;
}

.valor-total{	font-size: 35px; }

.contador{
	font-weight: 500;
	font-size: 30px;
}

.flex{
	display: flex;
	justify-content: center;		
	flex-wrap: wrap;	
}

/****************** TROCO ****************/

.calc-troco{
	height: 1300px;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: #FFFFFF;
	transform: translateX(-2700px);
	transition: transform .5s ease;
}

.show-calc-troco{	transform: translateX(0); }

.dinheiro{
	width: 90%;
	line-height: 80px;
	font-size: 40px;
	margin-top: 5px;
	border-radius: 4px;
	outline: none;
	text-align: center;
	border: solid 3px #7A297A;
	margin: auto;
}

.icone-troco{
	position: fixed;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	border: 0;
	z-index: 1;
}

.icone-troco:hover, .icone-troco:active{ background-color: rgba(0, 0, 0, 0.8); }

.icone-troco::before{
	content: '\f155';
	font-family: 'fontello';
	font-size: 30px;
	color: #FFFFFF;	
	opacity: 0.8;
}

.icone-troco:hover::before, .icone-troco:active::before{ color: #35CD47; }

table{
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

th{
	background-color: #7A297A;
	padding: 10px;
	color: #FFFFFF;
	font-weight: 700;
}

td, th{	width: 33%; }

td:nth-child(even){	text-align: center; }

td:nth-child(3n){	padding-left: 20px; }

tr:nth-child(even){	background-color: #DCDCDC; }

td{
	text-align: left;
	padding: 10px 0px 10px 10px;
}

tfoot{
	background-color: #333;
	color: #FFFFFF;
	font-weight: 700;
}

tfoot td:last-child{
	text-align: left;
	padding-left: 20px;
}

/************* MEDIA QUERY ****************/

@media(min-width: 882px){
	.flex{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;		
	}
	
	.container-produtos{ margin-top: 20px; }
}