
.icon-adjust:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-book:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-flight:before { content: '\e805'; } /* '' */
.icon-down-open:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-down-big:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-up-big:before { content: '\e80b'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */